%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "no-cache, must-revalidate, post-check=0, pre-check=0", "http-equiv" => "cache-control"}/
    %title Eventos de emprendimiento
    %meta{:content => "0", "http-equiv" => "expires"}/
    %meta{:content => "no-cache", "http-equiv" => "Cache-Control"}/
    %meta{:content => "no-cache", "http-equiv" => "Pragma"}/
    / Latest compiled and minified CSS
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :rel => "stylesheet"}/
    / Optional theme
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", :integrity => "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", :rel => "stylesheet"}/
    / Latest compiled and minified JavaScript
    %script{:crossorigin => "anonymous", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    %link{:href => "assets/stylesheets/welcome.scss", :rel => "stylesheet"}/
    %link{:href => "assets/stylesheets/application.scss", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  %body
    %script{:src => "https://code.jquery.com/jquery-1.10.2.js"}
    :javascript
      $( document ).ready(function() {
        console.log( "ready!" );
      });
    %header
      .container-fluid
        .col-xs-12
          %nav.navbar.navbar-custom.navbar-fixed-top
            %div
              .col-xs-2
                = image_tag "op.png", class: "img-logo"
              .col-xs-offset-4.col-xs-3.col-sm-offset-5.col-sm-5.col-md-offset-6.col-md-4
                - if !user_signed_in?
                  = link_to 'Iniciar sesi칩n', new_user_session_path, class: 'bttn-jelly bttn-md bttn-primary'
                  = link_to 'Registrarse', new_user_registration_path, class: 'bttn-pill bttn-md bttn-royal'
                  = link_to 'Publicar', new_user_registration_path, class: 'bttn-jelly bttn-md bttn-royal'
                - else
                  - if current_user.email == 'opcionvenezuelaorg@gmail.com'
                    %a.bttn-gradient.bttn-md.bttn-primary{:href => "/categories"} Hola administrador
                    = link_to 'Publicar', new_category_path, class: 'bttn-jelly bttn-md bttn-royal'
                    = link_to 'Cerrar Sesi칩n', destroy_user_session_path, method: 'delete', class: 'bttn-pill bttn-md bttn-danger'
                  - else
                    %a.bttn-gradient.bttn-md.bttn-success{:href => "/categories"}
                      Hola #{current_user.name}
                    = link_to 'Publicar', new_category_path, class: 'bttn-jelly bttn-md bttn-royal'
                    = link_to 'Cerrar Sesi칩n', destroy_user_session_path, method: 'delete', class: 'bttn-pill bttn-md bttn-danger'
              / fin del if
    %br/
    %br/
    %br/
    %br/
    .container
      .row
        %h1.text-center
          %em Bienvenido a esta gran comunidad de emprendedores!
        = form_tag categories_search_path, :method => 'get' do
          %p
            / <haml_loud> date_field_tag :search, params[:search]</haml_loud>
          %p.col-xs-1 Fecha Desde:
          %p.col-xs-1
            = date_select(params[:search] ,"key", order: [:day, :month, :year], :use_month_numbers => true)
          %p.col-xs-1 Fecha Hasta:
          %p.col-xs-1
            = date_select(params[:search] ,"key1", order: [:day, :month, :year], :use_month_numbers => true)
          = button_tag(type: "submit", class: "bttn-gradient bttn-md bttn-primary  col-xs-2") do
            Fecha
            %i.glyphicon.glyphicon-search
          .dropdown.col-xs-offset-4.col-xs-2
            %a.bttn-unite.bttn-lg.bttn-primary{:href => "/welcome/index?buscar=todos"}
              Periodo
              %i.glyphicon.glyphicon-search
            .dropdown-content
              %a{:href => "/welcome/index?buscar=hoy"} Hoy
              %a{:href => "/welcome/index?buscar=manana"} Ma침ana
              %a{:href => "/welcome/index?buscar=semana"} Semana
              %a{:href => "/welcome/index?buscar=mes"} Mes
              %a{:href => "/welcome/index?buscar=todos"} Todos
        %br/
        %br/
        %br/
        = form_tag categories_search_path, :method => 'get' do
          = text_field(params[:search] ,"key2", class: 'form-control', placeholder: "Buscar:")
    %hr/
    - if @categories_carousel.first != nil
      .container-fluid
        .row
          #carousel-example-generic.carousel.slide.carousel-custom{"data-ride" => "carousel"}
            / Wrapper for slides
            .carousel-inner{:role => "listbox"}
              .item.active
                .col-xs-12.text-center
                  - if user_signed_in?
                    - @mylink = "/categories/" + @categories_carousel.first.id.to_s
                  - else
                    - @mylink = "/categories1/" + @categories_carousel.first.id.to_s
                  %a{:href => "#{@mylink}", :rel => "nofollow"}
                    = image_tag(@categories_carousel.first.avatar1.url)
                    %br/
                    %h4
                      = @categories_carousel.first.title
                      %br/
                      = @categories_carousel.first.start_date.strftime("%d-%m-%Y")
              .item
                .col-xs-12.text-center
                  - if user_signed_in?
                    - @mylink = "/categories/" + @categories_carousel.first.id.to_s
                  - else
                    - @mylink = "/categories1/" + @categories_carousel.first.id.to_s
                  %a{:href => "#{@mylink}", :rel => "nofollow"}
                    = image_tag(@categories_carousel.first.avatar2.url)
                    %br/
                    %h4
                      = @categories_carousel.first.title
                      %br/
                      = @categories_carousel.first.start_date.strftime("%d-%m-%Y")
              .item
                .col-xs-12.text-center
                  - if user_signed_in?
                    - @mylink = "/categories/" + @categories_carousel.first.id.to_s
                  - else
                    - @mylink = "/categories1/" + @categories_carousel.first.id.to_s
                  %a{:href => "#{@mylink}", :rel => "nofollow"}
                    = image_tag(@categories_carousel.first.avatar3.url)
                    %br/
                    %h4
                      = @categories_carousel.first.title
                      %br/
                      = @categories_carousel.first.start_date.strftime("%d-%m-%Y")
            / Controls
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
              %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
              %span.sr-only Previous
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
              %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
              %span.sr-only Next
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
          / jQuery (necessary for Bootstrap's JavaScript plugins)
          %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
          / Include all compiled plugins (below), or include individual files as needed
          %script{:src => "js/bootstrap.min.js"}
    - else
      .container-fluid
        .row
          #carousel-example-generic2.carousel.slide.carousel-custom{"data-ride" => "carousel"}
            / Indicators
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic2"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic2"}
              %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic2"}
            / Wrapper for slides
            .carousel-inner{:role => "listbox"}
              .item.active
                .col-xs-12.text-center
                  = image_tag("mark.jpg")
              .item
                .col-xs-12.text-center
                  = image_tag("steve.jpg")
              .item
                .col-xs-12.text-center
                  = image_tag("bill.jpg")
            / Controls
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic2", :role => "button"}
              %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
              %span.sr-only Previous
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic2", :role => "button"}
              %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
              %span.sr-only Next
          / jQuery (necessary for Bootstrap's JavaScript plugins)
          %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
          / Include all compiled plugins (below), or include individual files as needed
          %script{:src => "js/bootstrap.min.js"}
    - @cont = 0
    - @categories_total.each do |categoria|
      - if categoria[1].present?
        %hr/
        / si HAY imagenes cargadas en las publicaciones de abajo
        .container-fluid
          %h1{:style => "color: gray"}= "#{categoria[0]}"
          .row
            .col-md-12
              - @mylinkcarousel = "carousel-tilenav" + @cont.to_s
              .carousel.carousel-showmanymoveone.slide{"data-interval" => "false", :id => "#{@mylinkcarousel}"}
                .carousel-inner
                  .item.active
                    - categoria[1].first(3).each do |e|
                      .col-sm-4
                        - if user_signed_in?
                          - @mylink = "/categories/" + e.id.to_s
                        - else
                          - @mylink = "/categories1/" + e.id.to_s
                        .container-agr
                          - if e.avatar1.url != "/images/"
                            %a{:href => "#{@mylink}", :rel => "nofollow"}
                              = image_tag(e.avatar1.url, :class => " image")
                              %br/
                              %h4
                                = e.title
                                %br/
                                = e.start_date.strftime("%d-%m-%Y")
                            .middle
                              .text.text-center
                                %a{:href => "#{@mylink}", :rel => "nofollow", :style => "text-decoration: none"}
                                  %h4 Haz Click para ver Detalle
                              / fin del text
                            / fin del middle
                          - else
                            %a{:href => "#{@mylink}", :rel => "nofollow"}
                              = image_tag("sin_foto.jpg", :class => " image")
                              %br/
                              %h4
                                = e.title
                                %br/
                                = e.start_date.strftime("%d-%m-%Y")
                            .middle
                              .text.text-center
                                %a{:href => "#{@mylink}", :rel => "nofollow", :style => "text-decoration: none"}
                                  %h4 Haz Click para ver Detalle
                              / fin del text
                            / fin del middle
                        / fin de container-agr
                  / cierre de item-active
                  - for i in (3..categoria[1].length+2).step(3) do
                    - if i <= categoria[1].length-1
                      .item.text-center
                        .col-sm-4
                          - if user_signed_in?
                            - @mylink = "/categories/" + categoria[1][i].id.to_s
                          - else
                            - @mylink = "/categories1/" + categoria[1][i].id.to_s
                          .container-agr
                            - if categoria[1][i].avatar1.url != "/images/"
                              %a{:href => "#{@mylink}", :rel => "nofollow"}
                                = image_tag(categoria[1][i].avatar1.url, :class => " image")
                                %br/
                                %h4
                                  = categoria[1][i].title
                                  %br/
                                  = categoria[1][i].start_date.strftime("%d-%m-%Y")
                              .middle
                                .text.text-center
                                  %a{:href => "#{@mylink}", :rel => "nofollow", :style => "text-decoration: none"}
                                    %h4 Haz Click para ver Detalle
                                / fin del text
                              / fin del middle
                            - else
                              %a{:href => "#{@mylink}", :rel => "nofollow"}
                                = image_tag("sin_foto.jpg", :class => " image")
                                %br/
                                %h4
                                  = categoria[1][i].title
                                  %br/
                                  = categoria[1][i].start_date.strftime("%d-%m-%Y")
                              .middle
                                .text.text-center
                                  %a{:href => "#{@mylink}", :rel => "nofollow", :style => "text-decoration: none"}
                                    %h4 Haz Click para ver Detalle
                                / fin del text
                              / fin del middle
                          / container-agr
                        / col
                        - for j in (i+1..i+2) do
                          - if j <= categoria[1].length-1
                            .col-sm-4
                              - if user_signed_in?
                                - @mylink = "/categories/" + categoria[1][j].id.to_s
                              - else
                                - @mylink = "/categories1/" + categoria[1][j].id.to_s
                              .container-agr
                                - if categoria[1][j].avatar1.url != "/images/"
                                  %a{:href => "#{@mylink}", :rel => "nofollow"}
                                    = image_tag(categoria[1][j].avatar1.url, :class => " image")
                                    %br/
                                    %h4
                                      = categoria[1][j].title
                                      %br/
                                      = categoria[1][j].start_date.strftime("%d-%m-%Y")
                                  .middle
                                    .text.text-center
                                      %a{:href => "#{@mylink}", :rel => "nofollow", :style => "text-decoration: none"}
                                        %h4 Haz Click para ver Detalle
                                    / fin del text
                                  / fin del middle
                                - else
                                  %a{:href => "#{@mylink}", :rel => "nofollow"}
                                    = image_tag("sin_foto.jpg", :class => " image")
                                    %br/
                                    %h4
                                      = categoria[1][j].title
                                      %br/
                                      = categoria[1][j].start_date.strftime("%d-%m-%Y")
                                  .middle
                                    .text.text-center
                                      %a{:href => "#{@mylink}", :rel => "nofollow", :style => "text-decoration: none"}
                                        %h4 Haz Click para ver Detalle
                                    / fin del text
                                  / fin del middle
                              / container-agr
                            / col
                      / cierre de carousel-inner
                      - @mylinkcarousel = "#carousel-tilenav" + @cont.to_s
                      %a.left.carousel-control{"data-slide" => "prev", :href => "#{@mylinkcarousel}", :rel => "nofollow"}
                        %i.glyphicon.glyphicon-chevron-left
                      %a.right.carousel-control{"data-slide" => "next", :href => "#{@mylinkcarousel}", :rel => "nofollow"}
                        %i.glyphicon.glyphicon-chevron-right
                    / for
                / cierre de carousel
              / cierre de col
            / cierre de row
          / cierre de container
          - @cont += 1
          / if principal
          / each principal
