<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
  <title>Eventos de emprendimiento</title>
  <meta http-equiv="expires" content="0">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Pragma" CONTENT="no-cache">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/stylesheets/welcome.scss">
  <link rel="stylesheet" href="assets/stylesheets/application.scss">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<header>

<div class="container-fluid ">
      <div class="col-xs-12">
      <nav class="navbar navbar-custom navbar-fixed-top ">
        <div>
          <div class="col-xs-2">
            <%= image_tag "op.png", class: "img-logo" %>
          </div>
            <div class="col-xs-offset-4 col-xs-3 col-sm-offset-5 col-sm-5 col-md-offset-6 col-md-4">
            <% if !user_signed_in?  %>
              <%= link_to 'Iniciar sesi칩n', new_user_session_path, class: 'bttn-jelly bttn-md bttn-primary'  %>
              <%= link_to 'Registrarse', new_user_registration_path, class: 'bttn-pill bttn-md bttn-royal' %>
              <%= link_to 'Publicar', new_user_registration_path, class: 'bttn-jelly bttn-md bttn-royal' %>
            <% else %>
              <% if current_user.email == 'opcionvenezuelaorg@gmail.com'   %>
                <a href=/categories class="bttn-gradient bttn-md bttn-primary">Hola administrador</a>
                <%= link_to 'Publicar', new_category_path, class: 'bttn-jelly bttn-md bttn-royal' %>
                <%= link_to 'Cerrar Sesi칩n', destroy_user_session_path, method: 'delete', class: 'bttn-pill bttn-md bttn-danger' %>
              <% else %>
                <a href=/categories class="bttn-gradient bttn-md bttn-success">Hola <%= current_user.name %></a>
                <%= link_to 'Publicar', new_category_path, class: 'bttn-jelly bttn-md bttn-royal' %>
                <%= link_to 'Cerrar Sesi칩n', destroy_user_session_path, method: 'delete', class: 'bttn-pill bttn-md bttn-danger' %>
              <% end %>
            <% end %>
            </div>
        <!-- fin del if  -->
        </div>
  </nav>
  </div>
</div>
</header>
<br/>
<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
      <h1 class="text-center"><em>Bienvenido a esta gran comunidad de emprendedores!</em></h1>
    
    <%= form_tag categories_search_path, :method => 'get' do %>
     <p>
<!--     <%= date_field_tag :search, params[:search]%> -->
        <p class="col-xs-1"> Fecha Desde: </p>
        <p class="col-xs-1"> <%= date_select(params[:search] ,"key", order: [:day, :month, :year], :use_month_numbers => true) %> </p>
        <p class="col-xs-1"> Fecha Hasta: </p>
        <p class="col-xs-1"><%= date_select(params[:search] ,"key1", order: [:day, :month, :year], :use_month_numbers => true) %> </p>
        <%= submit_tag "Busqueda por Fecha", class: 'bttn-gradient bttn-md bttn-warning' %>
        <div class="dropdown  col-xs-offset-3">
          <a href=/welcome/index?buscar=todos class='bttn-gradient bttn-md bttn-warning'>Buscar por Periodo</a>
          <div class="dropdown-content">
            <a href=/welcome/index?buscar=hoy>Hoy</a>
            <a href=/welcome/index?buscar=manana>Ma침ana</a>
            <a href=/welcome/index?buscar=semana>Semana</a>
            <a href=/welcome/index?buscar=mes>Mes</a>
            <a href=/welcome/index?buscar=todos>Todos</a>
          </div>
        </div>
    <% end %>
    <br/><br/><br/>
    <%= form_tag categories_search_path, :method => 'get' do %>
        <%= text_field(params[:search] ,"key2", class: 'form-control', placeholder: "Buscar:")%>
    <% end %>
    </p>
</div>  
</div>   





<hr />

<% if @categories_carousel.first != nil %>
    <div class="container-fluid">
      <div class="row">
        <div id="carousel-example-generic" class="carousel slide carousel-custom" data-ride="carousel">
            <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
            <div class="col-xs-12 text-center">
              <% if user_signed_in? %>
                <% @mylink = "/categories/" + @categories_carousel.first.id.to_s %>
              <% else %>
                <% @mylink = "/categories1/" + @categories_carousel.first.id.to_s %>
              <% end %>
              <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" >
                <%= image_tag(@categories_carousel.first.avatar1.url) %><br/>
                <h4>
                    <%= @categories_carousel.first.title %><br/>
                    <%= @categories_carousel.first.start_date.strftime("%d-%m-%Y")%>
                </h4>
              </a>
            </div>
            </div>
            <div class="item">
            <div class="col-xs-12 text-center">
              <% if user_signed_in? %>
                <% @mylink = "/categories/" + @categories_carousel.first.id.to_s %>
              <% else %>
                <% @mylink = "/categories1/" + @categories_carousel.first.id.to_s %>
              <% end %>
              <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" >
                <%= image_tag(@categories_carousel.first.avatar2.url) %><br/>
                <h4> 
                <%= @categories_carousel.first.title %><br/>
                <%= @categories_carousel.first.start_date.strftime("%d-%m-%Y")%>
                </h4>
              </a>
            </div>
            </div>
            <div class="item">
            <div class="col-xs-12 text-center">
            <% if user_signed_in?  %>
                <% @mylink = "/categories/" + @categories_carousel.first.id.to_s %>
              <% else %>
                <% @mylink = "/categories1/" + @categories_carousel.first.id.to_s %>
              <% end %>
              <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" >
                <%= image_tag(@categories_carousel.first.avatar3.url) %><br/>
                <h4>
                <%= @categories_carousel.first.title %><br/>
                <%= @categories_carousel.first.start_date.strftime("%d-%m-%Y")%>
                </h4>
              </a>
          </div>
          </div>
        </div>
      <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active ">
            </li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class="">
            </li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class="">
            </li>
          </ol>
    </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
    </div>
  </div>
<% else %>
<div class="container-fluid">
      <div class="row">
        <div id="carousel-example-generic2" class="carousel slide carousel-custom" data-ride="carousel">
      <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic2" data-slide-to="0" class="active ">
            </li>
            <li data-target="#carousel-example-generic2" data-slide-to="1" class="">
            </li>
            <li data-target="#carousel-example-generic2" data-slide-to="2" class="">
            </li>
          </ol>
            <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
            <div class="col-xs-12 text-center">
                <%= image_tag("mark.jpg") %>
            </div>
            </div>
            <div class="item">
            <div class="col-xs-12 text-center">
                <%= image_tag("steve.jpg") %>
            </div>
            </div>
            <div class="item">
            <div class="col-xs-12 text-center">
                <%= image_tag("bill.jpg") %>
          </div>
          </div>
        </div>
      <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
    </div>
  </div>
<% end %>


<% @cont = 0 %>
<% @categories_total.each do |categoria| %>
<% if categoria[1].present? %>
<hr />
<!-- si HAY imagenes cargadas en las publicaciones de abajo -->
  <div class="container-fluid ">
  <h1 style="color: gray"><%= "#{categoria[0]}" %></h1>
    <div class="row">
      <div class="col-md-12">
      <% case @cont %>
      <% when 0 then  %>
        <div class="carousel carousel-showmanymoveone slide" id="carousel-tilenav" data-interval="false">
      <% when 1 then  %>
        <div class="carousel carousel-showmanymoveone slide" id="carousel-tilenav1" data-interval="false">
      <% when 2 then %>
        <div class="carousel carousel-showmanymoveone slide" id="carousel-tilenav2" data-interval="false">
      <% when 3 then  %>
        <div class="carousel carousel-showmanymoveone slide" id="carousel-tilenav3" data-interval="false">
      <% when 4 then %>
        <div class="carousel carousel-showmanymoveone slide" id="carousel-tilenav4" data-interval="false">   
      <% when 5 then  %>
        <div class="carousel carousel-showmanymoveone slide" id="carousel-tilenav5" data-interval="false">   
      <% end %>  
      <div class="carousel-inner">
        <div class="item active">
          <% categoria[1].first(3).each do |e|%>
            <div class="col-sm-4">
              <% if user_signed_in? %>
                 <% @mylink = "/categories/" + e.id.to_s %>
              <% else %>
                 <% @mylink = "/categories1/" + e.id.to_s %>
              <% end %>
                <div class="container-agr ">
                <% if e.avatar1.url != "/images/" %>
                <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" >
                  <%= image_tag(e.avatar1.url, :class => " image") %><br/>
                  <h4>
                  <%= e.title %><br/>
                  <%= e.start_date.strftime("%d-%m-%Y")%>
                  </h4>
                  </a>
                  <div class="middle" >
                    <div class="text text-center">
                        <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" style="text-decoration: none" >
                              <h4>Haz Click para ver Detalle</h4>
                        </a>
                      </div><!-- fin del text -->
                    </div><!-- fin del middle -->
                <% else %>
                  <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" >
                  <%= image_tag("sin_foto.jpg", :class => " image") %><br/>
                  <h4>
                  <%= e.title %><br/>
                  <%= e.start_date.strftime("%d-%m-%Y")%>
                  </h4>
                  </a>   
                  <div class="middle" >
                    <div class="text text-center">
                        <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" style="text-decoration: none" >
                              <h4>Haz Click para ver Detalle</h4>
                        </a>
                      </div><!-- fin del text -->
                    </div><!-- fin del middle -->
                <% end %>
                  </div><!-- fin de container-agr -->
                </div>
          <% end %>
        </div><!-- cierre de item-active -->

        <% for i in (3..categoria[1].length+2).step(3) do %>
            <% if i <= categoria[1].length-1 %>
            <div class="item text-center">
              <div class="col-sm-4">
                <% if user_signed_in? %>
                   <% @mylink = "/categories/" + categoria[1][i].id.to_s %>
                <% else %>
                   <% @mylink = "/categories1/" + categoria[1][i].id.to_s %>
                <% end %>

                    <div class="container-agr">
                    <% if categoria[1][i].avatar1.url != "/images/" %>
                        <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" >
                        <%= image_tag(categoria[1][i].avatar1.url, :class => " image") %><br/>
                        <h4>
                        <%= categoria[1][i].title %><br/>
                        <%= categoria[1][i].start_date.strftime("%d-%m-%Y")%>
                        </h4>
                        </a>
                      <div class="middle">
                        <div class="text text-center">
                              <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" style="text-decoration: none" >
                              <h4>Haz Click para ver Detalle</h4>
                            </a>
                        </div><!-- fin del text -->
                      </div><!-- fin del middle -->
                    <% else %>
                        <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" >
                        <%= image_tag("sin_foto.jpg", :class => " image") %><br/>
                        <h4>
                        <%= categoria[1][i].title %><br/>
                        <%= categoria[1][i].start_date.strftime("%d-%m-%Y")%>
                        </h4>
                        </a> 
                        <div class="middle" >
                          <div class="text text-center">
                              <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" style="text-decoration: none" >
                                    <h4>Haz Click para ver Detalle</h4>
                              </a>
                            </div><!-- fin del text -->
                          </div><!-- fin del middle -->                    
                    <% end %>
                  </div><!-- container-agr-->
               </div><!-- col -->
            <% end %>

            <% j = i + 1 %>
            <% if j <= categoria[1].length-1 %>
                <div class="col-sm-4">
                    <% if user_signed_in? %>
                       <% @mylink = "/categories/" + categoria[1][j].id.to_s %>
                    <% else %>
                       <% @mylink = "/categories1/" + categoria[1][j].id.to_s %>
                    <% end %>

                        <div class="container-agr">
                        <% if categoria[1][j].avatar1.url != "/images/" %>
                            <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" >
                            <%= image_tag(categoria[1][j].avatar1.url, :class => " image") %><br/>
                            <h4>
                            <%= categoria[1][j].title %><br/>
                            <%= categoria[1][j].start_date.strftime("%d-%m-%Y")%>
                            </h4>                            
                            </a>
                          <div class="middle">
                            <div class="text text-center">
                                  <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" style="text-decoration: none" >
                                  <h4>Haz Click para ver Detalle</h4>
                                </a>
                            </div><!-- fin del text -->
                          </div><!-- fin del middle -->
                        <% else %>
                          <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" >
                          <%= image_tag("sin_foto.jpg", :class => " image") %><br/>
                          <h4>
                          <%= categoria[1][j].title %><br/>
                          <%= categoria[1][j].start_date.strftime("%d-%m-%Y")%>
                          </h4>
                          </a> 
                          <div class="middle" >
                            <div class="text text-center">
                                <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" style="text-decoration: none" >
                                      <h4>Haz Click para ver Detalle</h4>
                                </a>
                              </div><!-- fin del text -->
                            </div><!-- fin del middle -->
                        <% end %>
                        </div><!-- container-agr-->
                </div><!-- col -->
            <% end %>
            <% j += 1 %>
            <% if j <= categoria[1].length-1 %>
                <div class="col-sm-4">
                    <% if user_signed_in? %>
                       <% @mylink = "/categories/" + categoria[1][j].id.to_s %>
                    <% else %>
                       <% @mylink = "/categories1/" + categoria[1][j].id.to_s %>
                    <% end %>

                        <div class="container-agr">
                        <% if categoria[1][j].avatar1.url != "/images/" %>
                            <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" >
                            <%= image_tag(categoria[1][j].avatar1.url, :class => " image") %><br/>
                            <h4>
                            <%= categoria[1][j].title %><br/>
                            <%= categoria[1][j].start_date.strftime("%d-%m-%Y")%>
                            </h4>                             
                            </a>
                          <div class="middle">
                            <div class="text text-center">
                                  <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" style="text-decoration: none" >
                                  <h4>Haz Click para ver Detalle</h4>
                                </a>
                            </div><!-- fin del text -->
                          </div><!-- fin del middle -->
                        <% else %>
                          <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" >
                          <%= image_tag("sin_foto.jpg", :class => " image") %><br/>
                          <h4>
                          <%= categoria[1][j].title %><br/>
                          <%= categoria[1][j].start_date.strftime("%d-%m-%Y")%>
                          </h4>
                          </a> 
                          <div class="middle" >
                            <div class="text text-center">
                                <a rel="nofollow" rel="noreferrer" href="<%= @mylink%>" style="text-decoration: none" >
                                      <h4>Haz Click para ver Detalle</h4>
                                </a>
                              </div><!-- fin del text -->
                            </div><!-- fin del middle -->
                        <% end %>
                        </div><!-- container-agr-->
                </div><!-- col -->
            <% end %>
           </div> <!-- cierre de carousel-inner -->

        <% case @cont %>
        <% when 0 then  %>
          <a rel="nofollow" rel="noreferrer" class="left carousel-control" href="#carousel-tilenav" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a rel="nofollow" rel="noreferrer" class="right carousel-control" href="#carousel-tilenav" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        <% when 1 then  %>
          <a rel="nofollow" rel="noreferrer" class="left carousel-control" href="#carousel-tilenav1" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a rel="nofollow" rel="noreferrer" class="right carousel-control" href="#carousel-tilenav1" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        <% when 2 then %>
          <a rel="nofollow" rel="noreferrer" class="left carousel-control" href="#carousel-tilenav2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a rel="nofollow" rel="noreferrer" class="right carousel-control" href="#carousel-tilenav2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        <% when 3 then %>
          <a rel="nofollow" rel="noreferrer" class="left carousel-control" href="#carousel-tilenav3" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a rel="nofollow" rel="noreferrer" class="right carousel-control" href="#carousel-tilenav3" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        <% when 4 then %>
          <a rel="nofollow" rel="noreferrer" class="left carousel-control" href="#carousel-tilenav4" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a rel="nofollow" rel="noreferrer" class="right carousel-control" href="#carousel-tilenav4" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        <% when 5 then  %>
          <a rel="nofollow" rel="noreferrer" class="left carousel-control" href="#carousel-tilenav5" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a rel="nofollow" rel="noreferrer" class="right carousel-control" href="#carousel-tilenav5" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        <% end %>
        <% end %><!-- for -->
        </div><!-- cierre de carousel -->
      </div><!-- cierre de col -->
    </div><!-- cierre de row -->
  </div><!-- cierre de container -->
    <% @cont += 1 %>  
<% end %><!-- if principal -->    
<% end %><!-- each principal -->

</body>
</html>
