<html>
<head>
  <meta charset="UTF-8">
  <title>Eventos de emprendimiento</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/stylesheets/welcome.scss">
  <link rel="stylesheet" href="assets/stylesheets/application.scss">
</head>
<body>
	<header class="container-fluid">
    
  <div class="row">
        <span class="img-opcion">
          <%= image_tag "opcionv.jpg", size:"120x120" %> 
        </span>
            
      <%= link_to 'Publicar', new_category_path, class: 'btn btn-danger' %>
      <%= link_to 'Inicio', welcome_index_path, class: 'btn btn-info' %>
      <%= link_to 'Publicaciones', categories_path, {:style => 'text-decoration: none', class: 'btn btn-info'}   %>
      <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: 'delete', class: 'btn btn-info' %>
  </div>
  </header>

	<%= form_for  :category, :url => {:action => :update} do |f| %>
		<%= f.select :category_type, ['Evento', 'Foro', 'Curso', 'Taller', 'Documental', 'Otro'] %><br/>
		<label for="">Titulo:</label><br/> <%= text_field(:category, :title, maxlength: 85, size:60) %><br/>
		<label for="">Descripcion:</label><br/><%= text_area(:category, :description, size: "24x6", maxlength: 300) %><br/>
		<label for="">Fecha de inicio:</label><br/><%= date_field(:category, :start_date) %><br/>
		<label for="">Duracion:</label><br/><%= number_field(:category, :duration) %><br/>
		<label for="">Hora de inicio:</label><br/><%= time_field(:category, :start_hour) %><br/>
		<label for="">Hora de finalizacion:</label><br/><%= time_field(:category, :end_hour) %><br/>
		<label for="">Lugar:</label><br/><%= text_field(:category, :location, maxlength: 85, size:30)%><br/>
		<label for="">Teléfono:</label><br/><%= number_field(:category, :phone, max:9999999999, :size => 20) %><br/>
		<label for="">Precio de la entrada:</label><br/><%= number_field(:category, :cost) %><br/>
		<label for="">Cargue la imagen 1</label><br/>
		<%= f.file_field :avatar1 %><br/>
		<label for="">Cargue la imagen 2</label><br/>
		<%= f.file_field :avatar2 %><br/>
		<label for="">Cargue la imagen 3</label><br/>
		<%= f.file_field :avatar3 %><br/>

		<% if current_user.email == 'opcionvenezuelaorg@gmail.com' %>
    	<label for="">Prioridad</label><br/>
			<%= f.number_field :priority %><br/>
			<div class="field">
				<%= f.label 'Status' %>
				<div class="field">
				<%= f.label 'Activa' %>
				<%= f.radio_button :status, true %>
				<%= f.label 'Inactiva' %>
				<%= f.radio_button :status, false %>
				</div>
			</div>  
    <% end %> 

	<%= button_to 'Editar', category_path, method: :patch %>
	<% end %>
</body>
</html>