%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title Lista de eventos
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    %link{:href => "assets/stylesheets/application.scss", :rel => "stylesheet"}/
    %link{:href => "assets/stylesheets/welcome.scss", :rel => "stylesheet"}/
  %body
    %header
      .container-fluid
        .col-xs-12
          %nav.navbar.navbar-custom.navbar-fixed-top
            .col-xs-2
              = image_tag "op.png", class: "img-logo"
            .col-xs-offset-5.col-xs-3.col-sm-offset-5.col-sm-5.col-md-offset-6.col-md-4
              - if current_user.email == 'opcionvenezuelaorg@gmail.com'
                = link_to 'Inicio', welcome_index_path, class: 'bttn-jelly bttn-md bttn-primary'
                = link_to 'Publicar', new_category_path, class: 'bttn-jelly bttn-md bttn-royal'
                = link_to 'Cerrar Sesión', destroy_user_session_path, method: 'delete', class: 'bttn-pill bttn-md bttn-danger'
              - else
                = link_to 'Inicio', welcome_index_path, class: 'bttn-jelly bttn-md bttn-primary'
                = link_to 'Publicar', new_category_path, class: 'bttn-jelly bttn-md bttn-royal'
                = link_to 'Cerrar Sesión', destroy_user_session_path, method: 'delete', class: 'bttn-pill bttn-md bttn-danger'
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    .container-fluid
      .col-xs-12
        - if current_user.email == 'opcionvenezuelaorg@gmail.com'
          %table.table
            %thead
              %tr
                %th{:style => "text-align: center"}
                  %h4{:style => "color:blue"} Título
                %th{:style => "text-align: center"}
                  %h4{:style => "color:blue"} Usuario
                %th{:style => "text-align: center"}
                  %h4{:style => "color:blue"} 1era imagen
                %th{:style => "text-align: center"}
                  %a{:href => "/categories?key=Prioridad-Up"}
                    %span.glyphicon.glyphicon-arrow-up{"aria-hidden" => "true"}
                  %h4{:style => "color:blue"} Prioridad
                  %a{:href => "/categories?key=Prioridad-Down"}
                    %span.glyphicon.glyphicon-arrow-down{"aria-hidden" => "true"}
                %th{:style => "text-align: center"}
                  %a{:href => "/categories?key=Tipo-Up"}
                    %span.glyphicon.glyphicon-arrow-up{"aria-hidden" => "true"}
                  %h4{:style => "color:blue"} Tipo de evento
                  %a{:href => "/categories?key=Tipo-Down"}
                    %span.glyphicon.glyphicon-arrow-down{"aria-hidden" => "true"}
                %th{:style => "text-align: center"}
                  %a{:href => "/categories?key=FechadeInicio-Up"}
                    %span.glyphicon.glyphicon-arrow-up{"aria-hidden" => "true"}
                  %h4{:style => "color:blue"} Fecha de inicio
                  %a{:href => "/categories?key=FechadeInicio-Down"}
                    %span.glyphicon.glyphicon-arrow-down{"aria-hidden" => "true"}
                %th{:style => "text-align: center"}
                  %a{:href => "/categories?key=Status-Up"}
                    %span.glyphicon.glyphicon-arrow-up{"aria-hidden" => "true"}
                  %h4{:style => "color:blue"} Status
                  %a{:href => "/categories?key=Status-Down"}
                    %span.glyphicon.glyphicon-arrow-down{"aria-hidden" => "true"}
            %tbody
              - @categories.each do |category|
                %tr
                  %td.text-center
                    = category.title
                  %td.text-center
                    = category.user.name
                  %td.text-center
                    - if category.avatar1.url != "/images/"
                      = image_tag(category.avatar1(:thumb))
                    - else
                      = image_tag("sin_foto.jpg", size:"90x90")
                  %td.text-center
                    = category.priority
                  %td.text-center
                    = category.category_type
                  %td.text-center
                    = category.start_date
                  %td.text-center
                    - if category.status == true
                      %p Activa
                    - else
                      %p Inactiva
                  %td.text-right
                    = link_to '', category_path(category), class: 'btn btn-info glyphicon glyphicon-eye-open'
                    = link_to '', edit_category_path(category), class: 'btn btn-warning glyphicon glyphicon-pencil'
                    = link_to '', category_path(category), method: :delete, data: {confirm: '¿Está seguro?'}, class: 'btn btn-danger glyphicon glyphicon-remove'
        - else
          %table.table
            %thead
              %tr
                %th.text-center Título
                %th.text-center Categoría
                %th.text-center Localidad
                %th.text-center Fecha de inicio
                %th.text-center Días que dura el evento
                %th.text-center Elige
            - @categories.each do |category|
              %tr
                %td.text-center
                  = category.title
                %td.text-center
                  = category.category_type
                %td.text-center
                  = category.location
                %td.text-center
                  = category.start_date
                %td.text-center
                  = category.duration
                %td.text-center
                  = link_to '', category_path(category), class: 'btn btn-info glyphicon glyphicon-eye-open'
                  = link_to '', edit_category_path(category), class: 'btn btn-warning glyphicon glyphicon-pencil'
                  = link_to '', category_path(category), method: :delete, data: {confirm: '¿Está seguro?'}, class: 'btn btn-danger glyphicon glyphicon-remove'

