<html>
<head>
  <meta charset="UTF-8">
  <title>Eventos de emprendimiento</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/stylesheets/welcome.scss">
  <link rel="stylesheet" href="assets/stylesheets/application.scss">
</head>
<body>
	<header class="container-fluid">
    
  
<nav class="navbar navbar-custom navbar-fixed-top ">
  <div class="container-fluid ">
    <div class="row">
      <div>
        <%= image_tag "opcionv.jpg", size:"50x50", class: "img-opcion col-xs-1" %>
          <% if !user_signed_in?  %>
            <%= link_to 'Inicio', welcome_index_path, class: 'btn btn-info '  %>
            <%= link_to 'Iniciar sesion', new_user_session_path, class: 'btn btn-info '  %>
            <%= link_to 'Registrarse', new_user_registration_path, class: 'btn btn-info ' %>
            <%= link_to 'Publicar', new_user_registration_path, class: 'btn btn-success ' %>
          <% end %>  
      <!-- fin del if  -->
      </div>
    </div>
  </div>
</nav>
<br/>
<br/>
<br/>

  </header>

		<div class="form-group text-center">
			<label> Tipo:</label> <%= @category.category_type %>	
			<label for="">Titulo:</label> <%= @category.title %>
			<label for="">Lugar:</label><%= @category.location %>
		</div>
		<div class="form-group text-center">
			<label for="">Descripcion:</label><%= @category.description %>
		</div>
		<div class="form-group text-center">
			<label for="">Fecha de inicio:</label><%= @category.start_date %>
			<label for="">Duracion:</label><%= @category.duration %>
			<label for="">Hora de inicio:</label><%= @category.start_hour %>
			<label for="">Hora de finalizacion:</label><%= @category.end_hour %>
			<label for="">Precio de la entrada:</label><%= @category.cost %>
		</div>
		<table class="table">
			<tr>
				<th>
	       <% if @category.avatar1.url != "/images/" %>
	            <%= image_tag(@category.avatar1.url, :class => "img-responsive text-center") %>
	        <% else %>
	            <%= image_tag("sin_imagen.jpg", :class => "img-responsive text-center") %>
	        <% end %>		
				</th>
				<th>
			  <% if @category.avatar2.url != "/images/" %>
            <%= image_tag(@category.avatar2.url, :class => "img-responsive text-center") %>
        <% else %>
            <%= image_tag("sin_imagen.jpg", :class => "img-responsive text-center") %>
        <% end %>				
				</th>
				<th>
          <% if @category.avatar3.url != "/images/" %>
            <%= image_tag(@category.avatar3.url, :class => "img-responsive text-center") %>
        <% else %>
            <%= image_tag("sin_imagen.jpg", :class => "img-responsive text-center") %>
        <% end %>
				</th>
			</tr>
		</table>
			
		</div>
</body>

</html>