<html>
<head>
  <meta charset="UTF-8">
  <title>Eventos de emprendimiento</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/stylesheets/welcome.scss">
  <link rel="stylesheet" href="assets/stylesheets/application.scss">
</head>
<body>
	<header class="container-fluid">
    
  <div class="row">
        <span class="img-opcion">
          <%= image_tag "opcionv.jpg", size:"120x120" %> 
        </span>
            
      <%= link_to 'Publicar', new_category_path, class: 'btn btn-danger' %>
      <%= link_to 'Inicio', welcome_index_path, class: 'btn btn-info' %>
      <%= link_to 'Publicaciones', categories_path, {:style => 'text-decoration: none', class: 'btn btn-info'}   %>
      <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: 'delete', class: 'btn btn-info' %>
  </div>
  </header>

		<%= @category.category_type %><br/>
		<label for="">Titulo:</label><br/> <%= @category.title %><br/>
		<label for="">Descripcion:</label><br/><%= @category.description %><br/>
		<label for="">Fecha de inicio:</label><br/><%= @category.start_date %><br/>
		<label for="">Duracion:</label><br/><%= @category.duration %><br/>
		<label for="">Hora de inicio:</label><br/><%= @category.start_hour %><br/>
		<label for="">Hora de finalizacion:</label><br/><%= @category.end_hour %><br/>
		<label for="">Lugar:</label><br/><%= @category.location %><br/>
		<label for="">Precio de la entrada:</label><br/><%= @category.cost %><br/>
		<h1>Avatar 1</h1>
			<div class="round-image-50">
				<%= image_tag(@category.avatar1.url(:thumb)) %>
				
			</div>
		<h1>Avatar 2</h1>	
			<div class="round-image-50">
				<%= image_tag(@category.avatar2.url(:thumb)) %>					
			</div>
		<h1>Avatar 3</h1>	
			<div class="round-image-50">
				<%= image_tag(@category.avatar3.url(:thumb)) %>					
			</div>
			<% if current_user.email == 'opcionvenezuelaorg@gmail.com'   %>
        <label for="">Status de la publicacion:</label><br/><%= @category.status %><br/>
        <label for="">Prioridad de la publicacion:</label><br/><%= @category.priority %><br/>
      <% end %> 
	<%= button_to 'Volver', categories_path, method: :get %>
</body>

</html>